<article class="content items-list-page">
    <div class="title-block">
        <div class="row">
            <div class="col-md-6">
                <h3 class="title">
                    作成中...
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-xs-12 col-sm-12 col-md-6">
            <div class="card card-info">
                <div class="card-header bordered card-header-sm">
                    <div class="header-block">
                        <h4 class="title">デモ</h4>
                    </div>
                </div>
                <div class="card-block">
                    A
                </div>
            </div>
        </div>
        <div class=" col-xs-12 col-sm-12 col-md-6">
            <div class="card card-info">
                <div class="card-header bordered card-header-sm">
                    <div class="header-block">
                        <h4 class="title">デモ</h4>
                    </div>
                </div>
                <div class="card-block">
                    B
                </div>
            </div>
        </div>
    </div>

</article>
<script type="text/javascript">
    $('.show-tooltip-top').tooltip({placement : 'top'});
</script>
