<div th:fragment="confirm-modal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="modal fade" id="confirm-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><i class="fa fa-warning"></i> {{main.confirm.title}}</h4>
                </div>
                <div class="modal-body">
                    <p ng-bind-html="main.confirm.body"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        ng-click="main.confirm.okClicked()">{{main.confirm.okBtn}}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{main.confirm.cancelBtn}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>